<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techbooster.sensor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.techbooster.sensor.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.techbooster.sensor.DeviceViewActivity"
            android:label="@string/sensor_name" >
        </activity>
        <activity
            android:name="com.techbooster.sensoractivity.AccelerometerActivity" >
        </activity>
        <activity
            android:name="com.techbooster.sensoractivity.MagneticActivity" >
        </activity>
        <activity
            android:name="com.techbooster.sensoractivity.GyroscopeActivity" >
        </activity>
        <activity
            android:name="com.techbooster.sensoractivity.ProximityActivity" >
        </activity>
        <activity
            android:name="com.techbooster.sensoractivity.LightActivity" >
        </activity>
        <activity
            android:name="com.techbooster.sensoractivity.PressureActivity" >
        </activity>
        <activity
            android:name="com.techbooster.sensoractivity.GravityActivity" >
        </activity>
        <activity
            android:name="com.techbooster.sensoractivity.RotationVectorActivity" >
        </activity>
        </application>
</manifest>
