<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sample.network">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SocketActivity"
            android:label="@string/title_activity_socket"/>
        <activity
            android:name=".HttpURLConnectionActivity"
            android:label="@string/title_activity_http_urlconnection"/>
        <activity
            android:name=".HttpClientActivity"
            android:label="@string/title_activity_http_client"/>
        <activity
            android:name=".VolleyActivity"
            android:label="@string/volley"/>
        <activity
            android:name=".SocialIMEActivity"
            android:label="@string/title_activity_social_ime"/>
    </application>

</manifest>
